# **Python Scripting**

## **Day-1**

## **Python Inputs and Outputs**

In [3]:
num1 = input("Please enter the first integer number: ")
num2 = input("Please enter the second integer number: ")
print (num1, type(num1), id(num1))
print (num2, type(num2), id(num2))
total = num1 + num2   # string concatenation
print ("So the total is", total)
print ("End of the program...")

Please enter the first integer number:  100
Please enter the second integer number:  200

100 <class 'str'> 2433460933872
200 <class 'str'> 2433460934064
So the total is 100200
End of the program...

In [5]:
num1 = int(input("Please enter the first integer number: "))
num2 = int(input("Please enter the second integer number: "))
print (num1, type(num1), id(num1))
print (num2, type(num2), id(num2))
total = num1 + num2   # algebraic addition
print ("So the total is", total)
print ("End of the program...")

Please enter the first integer number:  300
Please enter the second integer number:  200

300 <class 'int'> 2433460301232
200 <class 'int'> 2433374034384
So the total is 500
End of the program...

In [19]:
print (num1, num2, total)
print ("So", num1, "+", num2, "=", total)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(total))
print ("So {} + {} = {}".format(num1, num2, total))   # here {} denotes variable placeholder
print ("So {fn} + {sn} = {res}".format(fn = num1, sn = num2, res = total))   # here {} denotes labelled placeholder
print ("So {fn} + {sn} = {res}".format(res = total, fn = num1, sn = num2))   # here {} denotes labelled placeholder
print ("So {0} + {1} = {2}".format(num1, num2, total))   # here {} denotes indexed placeholder
print ("So {2} + {1} = {0}".format(total, num2, num1))   # here {} denotes indexed placeholder
print (f"So {num1} + {num2} = {total}")    # smart formatting
print ("So %d + %d = %d"%(num1, num2, total))   # %d denotes decimal number
print ("So %f + %d = %d"%(num1, num2, total))   # %f denotes floating point number
print ("So %10.3f + %d = %d"%(num1, num2, total))   # %f denotes floating point number

300 200 500
So 300 + 200 = 500
So 300 + 200 = 500
So 300 + 200 = 500
So 300 + 200 = 500
So 300 + 200 = 500
So 300 + 200 = 500
So 300 + 200 = 500
So 300 + 200 = 500
So 300 + 200 = 500
So 300.000000 + 200 = 500
So    300.000 + 200 = 500

## **Dynamic Variable Types**

In [22]:
var1 = 100; print (var1, type(var1), id(var1))
var1 = 100.5; print (var1, type(var1), id(var1))
var1 = "Punch"; print (var1, type(var1), id(var1))
var1 = "P"; print (var1, type(var1), id(var1))
var1 = 'Punch'; print (var1, type(var1), id(var1))
var1 = 'P'; print (var1, type(var1), id(var1))
var1 = True; print (var1, type(var1), id(var1))
var1 = False; print (var1, type(var1), id(var1))

100 <class 'int'> 2433374031184
100.5 <class 'float'> 2433484769264
Punch <class 'str'> 2433489407408
P <class 'str'> 2433382536112
Punch <class 'str'> 2433489407408
P <class 'str'> 2433382536112
True <class 'bool'> 140732982380752
False <class 'bool'> 140732982380784

## **Python Operators**

In [29]:
# Arithmetic Operators: + - * / // ** %
# Conditional Operators: > >= < <= != ==
# Logical Operators: and or not
# Assignment Operator: = 
# Special Assignment Operators: += -= *= /= //= **= %=

# Operators: Unary, Binary, Ternary
# Unary Operators (Require only one operand): +100 -300
# Binary Operators (Require only two operands): 700 + 100    900 - 300
# Ternary Operator (Requires only three operands)
num1 = 100;
result = "Even" if (num1 % 2 == 0) else "Odd"
print (result)

num1 = 111;
result = "Even" if (num1 % 2 == 0) else "Odd"
print (result)

print ("Hello " * 3)
print ("Ba" + "na" * 2)

import numpy as np
num = 100
print (np.where(num % 2 == 0, "Even", "Odd"))

Even
Odd
Hello Hello Hello
Banana
Even

In [24]:
# Arithmetic Operators
print (100 + 40)   # addition
print (100 - 40)   # subtraction
print (100 * 40)   # multiplication
print (100 / 40)   # float division
print (100 // 40)  # integer division
print (100 ** 4)   # exponentiation
print (100 % 40)   # modulus or remainder of the division

140
60
4000
2.5
2
100000000
20

In [25]:
# Conditional Operators
print (100 > 10, 100 >= 10, 100 != 10)
print (10 < 100, 10 <= 100, 100 == 100)

True True True
True True True

In [27]:
# Logical Operators
print (True and True, True and False, False and True, False and False)
print (True or True, True or False, False or True, False or False)
print (not False, not True)

True False False False
True True True False
True False

## **ASCII Codes and Characters**

In [30]:
# ASCII (American Standard Code for Information Interchange) Codes
# A => 65, B => 66, Z => 90
# a => 97, b => 98, z => 122
# 0 => 48, 1 => 49, 9 => 57
# Space Bar/Blank => 32, Enter => 13, Esc => 27, Back Space => 9, Tab => 8
# ASCII Code is 8 bits code ranging from 0 to 255
# It can be divided into two categories:
# 1. Normal ASCII Codes (0 to 127) - Printable
# 2. Extended ASCII Codes (128 to 255) - Non-Printable
print (ord('A'), ord('a'), ord('Z'), ord('z'))  # returns characters to ASCII Codes
print (chr(65), chr(97), chr(90), chr(122))     # returns ASCII Codes to characters

65 97 90 122
A a Z z

## **Conditional Statements**

In [36]:
# Take three numbers from the user as input and find the maximum of these numbers
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
num3 = int(input("Please enter the third integer: "))
if (num1 > num2):
    if (num1 > num3):
        print ("The first number is the maximum number...")
        print ("So the maximum number is", num1)
    else:
        print ("The third number is the maximum number...")
        print ("So the maximum number is", num3)
elif (num2 > num3):
    print ("The second number is the maximum number...")
    print ("So the maximum number is", num2)
else:
    print ("The third number is the maximum number...")
    print ("So the maximum number is", num3)
print ("End of the program...")

Please enter the first integer:  55
Please enter the second integer:  77
Please enter the third integer:  22

The second number is the maximum number...
So the maximum number is 77
End of the program...

In [39]:
# Take three numbers from the user as input and find the maximum of these numbers
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
num3 = int(input("Please enter the third integer: "))
if (num1 > num2 and num1 > num3):
    print ("The first number is the maximum number...")
    print ("So the maximum number is", num1)
elif (num2 > num3):
    print ("The second number is the maximum number...")
    print ("So the maximum number is", num2)
else:
    print ("The third number is the maximum number...")
    print ("So the maximum number is", num3)
print ("End of the program...")

Please enter the first integer:  200
Please enter the second integer:  10
Please enter the third integer:  300

The third number is the maximum number...
So the maximum number is 300
End of the program...

In [44]:
# Calculator Program
print ("M A I N  M E N U ...")
print ("~~~~~~~~~~~~~~~~~~~~")
print ("1 >  A D D I T I O N  O P E R A T I O N ...")
print ("2 >  S U B T R A C T I O N  O P E R A T I O N ...")
print ("3 >  M U L T I P L I C A T I O N  O P E R A T I O N ...")
print ("4 >  D I V I S I O N  O P E R A T I O N ...")
choice = int(input("Please enter youe choice integer (1 to 4): "))
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
if (choice == 1):
    print ("Performing the addition operation...")
    result = num1 + num2
    print (f"So {num1} + {num2} = {result}")
elif (choice == 2):
    print ("Performing the subtraction operation...")
    result = num1 - num2
    print (f"So {num1} - {num2} = {result}")
elif (choice == 3):
    print ("Performing the multiplication operation...")
    result = num1 * num2
    print (f"So {num1} * {num2} = {result}")
elif (choice == 4):
    print ("Performing the division operation...")
    if (num2 == 0):
        print ("Division by ZERO is Illegal !!!")
        print ("Division operation can not be carried out...")
    else:
        result = num1 / num2
        print (f"So {num1} / {num2} = {result}")
else:
    print ("Invalid choice number has been provided...")
    print ("No operation could get carried out...")
print ("End of the program...")

M A I N  M E N U ...
~~~~~~~~~~~~~~~~~~~~
1 >  A D D I T I O N  O P E R A T I O N ...
2 >  S U B T R A C T I O N  O P E R A T I O N ...
3 >  M U L T I P L I C A T I O N  O P E R A T I O N ...
4 >  D I V I S I O N  O P E R A T I O N ...

Please enter youe choice integer (1 to 4):  4
Please enter the first integer:  100
Please enter the second integer:  0

Performing the division operation...
Division by ZERO is Illegal !!!
Division operation can not be carried out...
End of the program...

## **Dealing with 'print' statement**

In [49]:
print ("Hello","to all")
print ("Good afternoon")

print ("Hello", "to all", sep = " - ", end = ", ")
print ("Good afternoon")

Hello to all
Good afternoon
Hello - to all, Good afternoon

In [47]:
help (print)   # ... ellipsis

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## **Day-2**

## **Python Loops**

In [1]:
count = 0
for i in range(10):
    print (i, end = ", ")
    count += 1
print ("\ncount =", count)

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
count = 10

In [2]:
count = 0
for i in range(1, 10):
    print (i, end = ", ")
    count += 1
print ("\ncount =", count)

1, 2, 3, 4, 5, 6, 7, 8, 9,
count = 9

In [3]:
count = 0
for i in range(1, 10, 2):
    print (i, end = ", ")
    count += 1
print ("\ncount =", count)

1, 3, 5, 7, 9,
count = 5

In [6]:
count = 0
for i in range(10, 1, -2):
    print (i, end = ", ")
    count += 1
print ("\ncount =", count)

10, 8, 6, 4, 2,
count = 5

In [5]:
print ("Hello" * 3)
print ("*" * 3)
print ("." * 3)

HelloHelloHello
***
...

In [ ]:
Pattern-1
---------
n = 6 (User given)    i   .   *
                    -------------
.....*                1   5   1
....***               2   4   3       (i, n)
...*****              3   3   5  . => (n - i)
..*******             4   2   7
.*********            5   1   9  * => (2 * i - 1)
***********           6   0  11
                    -------------
                    Tracing Table

In [8]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
    
print ("End of the program...")

Please enter the number of layers:  8

.......*
......***
.....*****
....*******
...*********
..***********
.*************
***************
End of the program...

In [15]:
for i in range(10):
    print (i)
    if (i == 7):
        print ("Executing the BREAK Statement...")
        break
else:
    print ("Executing the ELSE block...")
    print ("Had a smooth execution...")
print ("End of the program...")

0
1
2
3
4
5
6
7
Executing the BREAK Statement...
End of the program...

In [17]:
for i in range(10):
    if (i == 3 or i == 7):
        print ("Continuing with the next iteration for i =", i)
        continue
    print ("Executing for i =", i)
else:
    print ("Executing the ELSE block...")
    print ("Had a smooth execution...")
print ("End of the program...")

Executing for i = 0
Executing for i = 1
Executing for i = 2
Continuing with the next iteration for i = 3
Executing for i = 4
Executing for i = 5
Executing for i = 6
Continuing with the next iteration for i = 7
Executing for i = 8
Executing for i = 9
Executing the ELSE block...
Had a smooth execution...
End of the program...

In [25]:
for i in range(10):
    if (i == 3 or i == 7):
        print ("Continuing with the next iteration for i =", i)
        continue
    else:
        pass   # pass is called statement placeholder
    print ("Executing for i =", i)
else:
    print ("Executing the ELSE block...")
    print ("Had a smooth execution...")
print ("End of the program...")

Executing for i = 0
Executing for i = 1
Executing for i = 2
Continuing with the next iteration for i = 3
Executing for i = 4
Executing for i = 5
Executing for i = 6
Continuing with the next iteration for i = 7
Executing for i = 8
Executing for i = 9
Executing the ELSE block...
Had a smooth execution...
End of the program...

In [21]:
count = 1
while (count <= 5):
    print ("Looping with count =", count)
    count = count + 1
else:
    print ("Executing the ELSE block...")
    print ("Had a smooth execution...")
print ("End of the program...")

Looping with count = 1
Looping with count = 2
Looping with count = 3
Looping with count = 4
Looping with count = 5
Executing the ELSE block...
Had a smooth execution...
End of the program...

In [23]:
# different inbuilt collections
list1 = [100, 2.45, True, "Food", 201]   # mutable
print (list1, len(list1), type(list1), id(list1))
tuple1 = (100, 2.45, True, "Food", 201)   # immutable, read only
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
dict1 = {'name':'Bidisha', 'location':'Noida', 'job':'Developer', 'company':'Accenture'} # mutable
print (dict1, len(dict1), type(dict1), id(dict1))
set1 = {"Delhi", 100, 2.45, True, "Food", 201, True, "Food", 201}   # mutable
print (set1, len(set1), type(set1), id(set1))
fset1 = frozenset(["Delhi", 100, 2.45, True, "Food", 201, True, "Food", 201]) # immutable, read only
print (fset1, len(fset1), type(fset1), id(fset1))

[100, 2.45, True, 'Food', 201] 5 <class 'list'> 2450465634048
(100, 2.45, True, 'Food', 201) 5 <class 'tuple'> 2450465202768
{'name': 'Bidisha', 'location': 'Noida', 'job': 'Developer', 'company': 'Accenture'} 4 <class 'dict'> 2450465428416
{True, 2.45, 100, 201, 'Delhi', 'Food'} 6 <class 'set'> 2450464028064
frozenset({True, 2.45, 100, 201, 'Food', 'Delhi'}) 6 <class 'frozenset'> 2450464028512

In [27]:
# nested for loops
medicount = 0
print ("VISIT DOCTOR...")
for day in range(1, 6):
    print ("Good Morning...")
    for medi in range(1, 4):
        print(f"Day = {day} and Medicine No. = {medi}...")
        medicount = medicount + 1
    print ("Good Night...")
    print ("--------------------------------------------------")
print ("THANKS TO DOCTOR...")
print ("Total number of medicines consumed is", medicount)

VISIT DOCTOR...
Good Morning...
Day = 1 and Medicine No. = 1...
Day = 1 and Medicine No. = 2...
Day = 1 and Medicine No. = 3...
Good Night...
--------------------------------------------------
Good Morning...
Day = 2 and Medicine No. = 1...
Day = 2 and Medicine No. = 2...
Day = 2 and Medicine No. = 3...
Good Night...
--------------------------------------------------
Good Morning...
Day = 3 and Medicine No. = 1...
Day = 3 and Medicine No. = 2...
Day = 3 and Medicine No. = 3...
Good Night...
--------------------------------------------------
Good Morning...
Day = 4 and Medicine No. = 1...
Day = 4 and Medicine No. = 2...
Day = 4 and Medicine No. = 3...
Good Night...
--------------------------------------------------
Good Morning...
Day = 5 and Medicine No. = 1...
Day = 5 and Medicine No. = 2...
Day = 5 and Medicine No. = 3...
Good Night...
--------------------------------------------------
THANKS TO DOCTOR...
Total number of medicines consumed is 15

In [ ]:
# HOMEWORK: Rewrite the previous nested for loop exmaple to nested while loops.

In [28]:
# nested for loops
medicount = 0
print ("VISIT DOCTOR...")
day = 1
while (day <= 5):
    print ("Good Morning...")
    medi = 1
    while (medi <= 3):
        print(f"Day = {day} and Medicine No. = {medi}...")
        medicount = medicount + 1
        medi += 1
    print ("Good Night...")
    print ("--------------------------------------------------")
    day += 1
print ("THANKS TO DOCTOR...")
print ("Total number of medicines consumed is", medicount)

VISIT DOCTOR...
Good Morning...
Day = 1 and Medicine No. = 1...
Day = 1 and Medicine No. = 2...
Day = 1 and Medicine No. = 3...
Good Night...
--------------------------------------------------
Good Morning...
Day = 2 and Medicine No. = 1...
Day = 2 and Medicine No. = 2...
Day = 2 and Medicine No. = 3...
Good Night...
--------------------------------------------------
Good Morning...
Day = 3 and Medicine No. = 1...
Day = 3 and Medicine No. = 2...
Day = 3 and Medicine No. = 3...
Good Night...
--------------------------------------------------
Good Morning...
Day = 4 and Medicine No. = 1...
Day = 4 and Medicine No. = 2...
Day = 4 and Medicine No. = 3...
Good Night...
--------------------------------------------------
Good Morning...
Day = 5 and Medicine No. = 1...
Day = 5 and Medicine No. = 2...
Day = 5 and Medicine No. = 3...
Good Night...
--------------------------------------------------
THANKS TO DOCTOR...
Total number of medicines consumed is 15

## **Day-3**

## **User Defined Function (UDF)**

In [30]:
def funct1():
    print ("Welcome " * 4)
    print ("End of the function body...")
print (type(funct1), id(funct1))
funct1()
funct1()
funct1()

<class 'function'> 2450496987360
Welcome Welcome Welcome Welcome
End of the function body...
Welcome Welcome Welcome Welcome
End of the function body...
Welcome Welcome Welcome Welcome
End of the function body...

In [33]:
def funct2(msg, times):   # msg and times are called as positional parameters
    print (msg * times)
funct2 ("Hello ", 10)   # "Hello " and 10 are called as positional arguments
funct2 ("Welcome ", 5)
funct2 ("Hi !!! ", 4)

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
Welcome Welcome Welcome Welcome Welcome
Hi !!! Hi !!! Hi !!! Hi !!!

In [36]:
def funct3(msg, times):
    return msg * times

result = funct3("Hello ", 10)
print (result)
result = funct3("Welcome ", 3)
print (result)
print (funct3("Good Bye !!! ", 5))

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
Welcome Welcome Welcome
Good Bye !!! Good Bye !!! Good Bye !!! Good Bye !!! Good Bye !!!

In [47]:
# function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):
    print (f"So par1 = {par1}, par2 = {par2} and par3 = {par3}...")
    
funct4(100, 200, 300)
funct4(100, 200)
funct4(100)
funct4()
funct4(par1 = 100, par3 = 300)
funct4(par3 = 300, par1 = 100)
funct4(par2 = 200)

So par1 = 100, par2 = 200 and par3 = 300...
So par1 = 100, par2 = 200 and par3 = 333...
So par1 = 100, par2 = 222 and par3 = 333...
So par1 = 111, par2 = 222 and par3 = 333...
So par1 = 100, par2 = 222 and par3 = 300...
So par1 = 100, par2 = 222 and par3 = 300...
So par1 = 111, par2 = 200 and par3 = 333...

In [49]:
def funct5(num1, num2 = None):
    if (num2 == None):
    # if (num2 is None):
        return 2 * num1
    else:
        return num1 + num2
    
print (funct5(100, 400))
print (funct5(200))

500
400

In [51]:
# function returning multiple arguments
def funct6(num1, num2): 
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tt, dd, pp, qq = funct6(100, 40)
print (f"Total = {tt}, Difference = {dd}, Product = {pp} and Quotient = {qq}...")
result = funct6(100, 40)
print (result, len(result), type(result))
print (f"Total = {result[0]}, Difference = {result[1]}, Product = {result[2]} and Quotient = {result[3]}...")

Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...
(140, 60, 4000, 2.5) 4 <class 'tuple'>
Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...

In [52]:
# function with variable number of arguments
def funct7(*arg):    # *arg means forcefully defining arg as a tuple type object
    print (arg, len(arg), type(arg), id(arg))
    
funct7("Amitava", "Developer", 65000)
funct7("Amitava", "Developer", 65000, "Pune")
funct7("Amitava", "Developer", 65000, "Pune", "Masters")

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2450501885120
('Amitava', 'Developer', 65000, 'Pune') 4 <class 'tuple'> 2450502138464
('Amitava', 'Developer', 65000, 'Pune', 'Masters') 5 <class 'tuple'> 2450470418000

In [56]:
# function with variable number of arguments
def funct8(**kwarg):  # **kwarg means forcefully defining kwarg as a dictionary type key-word argument
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct8(name = "Amitava", job = "Developer", salary = 65000, location = "Pune")
funct8(name = "Amitava", job = "Developer", salary = 65000, location = "Pune", qualification = "ME")

{'name': 'Amitava', 'job': 'Developer', 'salary': 65000, 'location': 'Pune'} 4 <class 'dict'> 2450502428992
{'name': 'Amitava', 'job': 'Developer', 'salary': 65000, 'location': 'Pune', 'qualification': 'ME'} 5 <class 'dict'> 2450501791040

In [55]:
# function with variable number of arguments
def funct9(*arg, **kwarg):
    print (arg, len(arg), type(arg), id(arg))
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct9("Amitava", "Developer", 65000, location = "Pune", qualification = "Masters", hobby = 'drawing')
print ()
funct9("Amitava", "Developer", 65000)
print ()
funct9(location = "Pune", qualification = "Masters", hobby = 'drawing')

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2450501971392
{'location': 'Pune', 'qualification': 'Masters', 'hobby': 'drawing'} 3 <class 'dict'> 2450501666176

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2450501882304
{} 0 <class 'dict'> 2450501673920

() 0 <class 'tuple'> 2450384633968
{'location': 'Pune', 'qualification': 'Masters', 'hobby': 'drawing'} 3 <class 'dict'> 2450469958784

In [57]:
# non-recursive factorial calculating function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
def factorial_nr(num):
    if (num == 0 or num == 1): return 1
    fact = 1
    for i in range(1, num + 1):
        print (f"Executing for i = {i}...")
        fact = fact * i
    return fact

n = 5
result = factorial_nr(n)
print (f"So factorial of {n} is {result}...")

Executing for i = 1...
Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
Executing for i = 5...
So factorial of 5 is 120...

In [58]:
# recursive factorial calculating function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
# n! = n * (n - 1)!
def factorial_r(num):
    if (num == 0 or num == 1): return 1  # base case: for certain input values outputs are pre-known
    return num * factorial_r(num - 1)    # reursive case: the function will call itself

n = 5
result = factorial_r(n)
print (f"So factorial of {n} is {result}...")

So factorial of 5 is 120...

In [ ]:
5! = 5 x 4!
         4 x 3!
             3 x 2!
                 2 x 1!
                     1
                 2
             6
         24
     120

## **Lambda Function**

In [60]:
# lambda function, function without any name, i.e. anonymous function
my_square = lambda num: num * num  # lambda function should have a single expression body

print (my_square(5), my_square, type(my_square), id(my_square))
result = my_square(6)
print (result)

25 <function <lambda> at 0x0000023A8DE58DC0> <class 'function'> 2450511990208
36

In [61]:
my_addition = lambda num1, num2: num1 + num2

print (my_addition(500, 400), my_addition, type(my_addition), id(my_addition))
result = my_addition(300, 500)
print (result)

900 <function <lambda> at 0x0000023A8DE58EE0> <class 'function'> 2450511990496
800

## **Day-4**

## **Day-5**